
<hInv-nav-bar></hInv-nav-bar>

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employees</a>
<router-outlet></router-outlet> -->

<!-- <h1>Hello From App Component</h1> -->
<!-- <hInv-rooms></hInv-rooms>

<hInv-container>
  <h2>This is From Container</h2>
  <hInv-employee></hInv-employee>
  <hInv-rooms></hInv-rooms>
</hInv-container> -->

<!-- <div #name></div> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    <h2>Welcome Your Role Is User</h2>
  </div>
  <div *ngSwitchCase="'Admin'">
  </div>
  <div *ngSwitchDefault>
    You Are Not Authorize To See This Page!
  </div>
</div> -->
